<footer>
    <div class="f-social">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
    </div>
   
    <div class="f-terms">
        &copy; 2025 Airbnb, Inc.
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</footer>