<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-building"></i>
      <span class="brand-text">TravelBuddy</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-md-center ms-md-4">
        <a class="nav-link" href="/listings">
          <i class="fa-solid fa-list me-1"></i>All Listings
        </a>
      </div>

      <div class="navbar-search mx-auto d-none d-lg-block">
        <form class="search-form" action="/listings" method="GET">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
          <input type="text" class="search-input" name="search" placeholder="Search destinations, cities..." />
        </form>
      </div>

      <div class="navbar-nav ms-auto nav-auth align-items-md-center gap-2">
        <a class="btn btn-sm nav-cta" href="/listings/new">
          <i class="fa-solid fa-plus"></i> 
          <span class="d-none d-md-inline">Add Listing</span>
        </a>
        <% if (!currUser) { %>
          <a class="btn btn-sm btn-auth btn-outline" href="/signup">
            <i class="fa-solid fa-user-plus me-1"></i>Sign Up
          </a>
          <a class="btn btn-sm btn-auth" href="/login">
            <i class="fa-solid fa-right-to-bracket me-1"></i>Log In
          </a>
        <% } else { %>
          <div class="user-menu">
            <button class="btn btn-sm btn-user" type="button" data-bs-toggle="dropdown">
              <i class="fa-solid fa-circle-user"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket me-2"></i>Log Out</a></li>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>