body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* Navbar */
.navbar{
    height: 4.5rem;
    background-color: #fafafa;
    margin-bottom: 5rem;
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(255, 82, 76);
    font-size: 2rem;
}
.navbar-collapse{
    display: flex;
    font-size: 1.2rem;
    color: rgb(23, 23, 23);
    justify-content: center;
}

/* Footer */
footer{
    height: 6rem;
        background-color: #fafafa;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(85, 85, 85);
}
.f-social{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.f-social:hover{
    cursor: pointer;
}
.f-terms a{
    text-decoration: none;
    color: rgb(85, 85, 85);
}
.f-terms a:hover{
    text-decoration: underline;
}

/* Card */
.listing-card{
    height: 28rem;
    border: none;
}

.listing-card-img{
    height: 20rem;
    border-radius: 2rem;
}
/* Forms */
.add{
    border: none;
    background: rgb(255, 82, 76);
    color: white;
}
.add:hover{
    border: 1px solid rgb(255, 82, 76);
    color: black;
}
/* Show */
.show-img{
   height: 30rem;
   border-radius: 3rem;
}
.show-card{
    border: none;
    margin-bottom: 5rem;
}
.card-text-show{
    font-size: 1.3rem;
}