<% layout("layouts/boilerplate") %>
<form action="/signup" method="post" class="col-lg-8 offset-3 needs-validation" novalidate>
    <h1>SignUp on AirBnB</h1>
    <div class="row">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" 
            name="username"
            id="username"
            placeholder="Enter your username here" 
            class="form-control"
            required/>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3">
            <label for="mail" class="form-label">Email</label>
            <input type="mail" 
            name="email"
            id="email"
            placeholder="Enter your email id" 
            class="form-control"
            required/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" 
            name="password"
            id="password"
            placeholder="Enter your password here" 
            class="form-control"
            required/>
        </div>
    </div>
    <button class="btn-success btn mb-3">SignUp</button>
</form>